<% include partials/header %>


<div class="container">
    
    <h1 style="text-align: center">Create New Comment for <%= campground.name %></h1>
     <div style="width: 50%; margin: 25px auto;">
<form action="/campgrounds/<%= campground._id %>/comments" method="post">
  <div class="form-group">
    <label>Comment</label>
    <input type="text" class="form-control" name="comment[text]" placeholder="text">
  </div>
  
    
  <button type="submit" class="btn btn-primary btn-large btn-block">Submit</button>
</form>
</div>
</div>

<% include partials/footer %>